<nav class="nav-container">
    <h2>Navigation</h2>
    <ng-container *ngIf="trainer !== undefined">
        <ul class="nav-ul-container">
            <ng-container *ngIf="trainer === undefined">
                <li class="pr-4"><a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">Landing
                        Page</a>
                </li>
            </ng-container>
            <li class="nav-li-container"><a routerLink="/trainerPage" routerLinkActive="active"
                    ariaCurrentWhenActive="page">trainerPage</a></li>
            <li class="nav-li-container"><a routerLink="/pokemonCatalogue" routerLinkActive="active"
                    ariaCurrentWhenActive="page">pokemonCatalogue</a></li>
        </ul>
    </ng-container>
</nav>