<!-- lager er two way binding ngModel -->
<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)" class="landing-page-form-container">
    <fieldset class="landing-page-fieldset">
        <label class="landing-page-label-container" for="username"> Name</label>
        <input class="landing-page-form-input-container"
         placeholder="navne..." 
         type="text"
         ngModel 
         #username=""ngModel
         name="username" 
         id="username">
    </fieldset>
    <button type="submit"  class="landing-page-form-button-container">Login</button>
</form>