.landing-page-form-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.landing-page-fieldset {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
}
.landing-page-label-container{
    margin-bottom: 4px;
}
.landing-page-form-input-container{
    padding: 10px 2px;
    border-radius: 6px;
}

.landing-page-form-button-container{
    margin: 10px 0px;
    padding: 10px 5px;

}

