<p>landing-page-form works!</p>
<!-- lager er two way binding ngModel -->

<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)" class="">
    <fieldset class="border-solid border-black">
        <label class="block" for="username"> Username</label>
        <input class="border border-slate-300 p-2 m-2 rounded"
         placeholder="brukernavnet..." 
         type="text"
         ngModel 
         #username=""ngModel
         name="username" 
         id="username">
    </fieldset>
    <button type="submit"  class="bg-red-600 p-2 rounded">Login</button>
</form>